@import url("https://fonts.googleapis.com/css2?family=Orbitron&family=Passero+One&family=Teko:wght@300&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Passero One", sans-serif;
}

body {
  background-color: rgb(198, 233, 233);
}

a {
  text-decoration: none;
  color: rgb(97, 97, 97);
}

li {
  list-style: none;
}

.btns {
  padding: 10px 20px;
  margin-right: 6px;
  background: transparent;
  border: none;
  border: 0.6px solid #ccc;
  border-radius: 5px;
  color: #323232;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .btns {
    margin-left: 6px;
  }
}
